$w: 20em;
$h: 1em;

@mixin track() {
	width: 100%; height: 100%;
	background: none
}

@mixin thumb() {
	border: none;
	width: $h; height: $h;
	border-radius: 0;
	background: currentcolor;
	pointer-events: auto
}

* { font: inherit }

.wrap {
	--dif: calc(var(--max) - var(--min));
	display: grid;
	grid-template: repeat(2, max-content) #{$h}/ 1fr 1fr;
	overflow: hidden;
	position: relative;
	margin: 1em auto;
	width: $w;
	background: linear-gradient(0deg, #ccc $h, transparent 0);
	font-family: ubuntu mono, consolas, monaco, monospace;

	&::before, &::after {
		grid-column: 1/ span 2;
		grid-row: 3;
		height: 100%;
		background: #95a;
		content: ''
	}

	&::before {
		margin-left: calc((var(--a) - var(--min))/var(--dif)*100%);
		width: calc((var(--b) - var(--a))/var(--dif)*100%);
	}

	&::after {
		margin-left: calc((var(--b) - var(--min))/var(--dif)*100%);
		width: calc((var(--a) - var(--b))/var(--dif)*100%);
	}
}

[id='multi-lbl'] { grid-column: 1/ span 2 }

.sr-only {
	position: absolute;
	clip-path: inset(50%)
}

input[type='range'] {
	&::-webkit-slider-runnable-track,
	&::-webkit-slider-thumb, & {
		-webkit-appearance: none
	}

	grid-column: 1/ span 2;
	grid-row: 3;
	z-index: 1;
	top: 0; left: 0;
	margin: 0;
	background: none;
	color: #000;
	pointer-events: none;

	&::-webkit-slider-runnable-track { @include track }
	&::-moz-range-track { @include track }

	&::-webkit-slider-thumb { @include thumb }
	&::-moz-range-thumb { @include thumb }

	&:focus {
		z-index: 2;
		outline: dotted 1px currentcolor;

		&, & + output { color: darkorange }
	}
}

output {
	grid-row: 2;

	&:last-child { text-align: right }

	&::after {
		counter-reset: c var(--c);
		content: '--' attr(for) ': ' counter(c) ';'
	}
}

