.wrap::before {
  /* As 'a' increases, the width decreases */
  /* As 'b' increases, the width increases */
  width: calc((var(--b) - var(--a)) / var(--dif) * 100%);
  /* As 'a' increases, the margin increases */
  margin-left: calc((var(--a) - var(--min)) / var(--dif) * 100%);
}

.wrap::after {
  /* As 'b' increases, the width decreases */
  /* As 'a' increases, the width increases */
  width: calc((var(--a) - var(--b)) / var(--dif) * 100%);
  /* As 'b' increases, the margin increases */
  margin-left: calc((var(--b) - var(--min)) / var(--dif) * 100%);
}

/*.sr-only {*/
/*  position: absolute;*/
/*  -webkit-clip-path: inset(50%);*/
/*  clip-path: inset(50%);*/
/*}*/
