* {
  font: inherit;
}

body {
  display: grid;
  place-content: center;
  margin: 0;
  min-height: 100vh;
  /* oh da stubid background, no one care */
  /* background: repeating-linear-gradient(45deg, #555, #555 5px, #000 0, #000 7px) 0 100%/100% 50% no-repeat; */
}

.wrap {
  --w: 20em;
  --h: 2em;
  --d: var(--h);
  --r: calc(.5 * var(--d));
  --uw: calc(var(--w) - var(--d));
  --dif: calc(var(--max) - var(--min));
  display: grid;
  grid-template-rows: -webkit-max-content var(--h) -webkit-max-content;
  grid-template-rows: max-content var(--h) max-content;
  grid-gap: 0.625em;
  overflow: hidden;
  position: relative;
  margin: 1em -1.5em;
  padding: 0 2em;
  width: var(--w);
  font-family: ubuntu mono, consolas, monaco, monospace;
}

.wrap::before, .wrap::after {
  grid-column: 1;
  grid-row: 2;
  border-radius: var(--r);
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.3);
  background: #ccc;
  content: "";
}

.wrap::after {
  /* non-standard WebKit version */
  -webkit-mask: var(--fill);
  -webkit-mask-composite: xor;
  /* standard version, supported in Firefox */
  -webkit-mask: var(--fill);
  mask: var(--fill);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.3)) #95a;
}

.sr-only {
  position: absolute;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
}

input[type=range] {
  grid-column: 1;
  grid-row: 2;
  z-index: 1;
  top: 0;
  left: 0;
  margin: 0;
  background: none;
  /* get rid of white Chrome background */
  color: #eee;
  cursor: -webkit-grab;
  cursor: grab;
  pointer-events: none;
}

input[type=range]::-webkit-slider-runnable-track, input[type=range]::-webkit-slider-thumb, input[type=range] {
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 100%;
  background: none;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 100%;
  background: none;
}

input[type=range]::-webkit-slider-thumb {
  box-sizing: border-box;
  /* different between Chrome & Firefox */
  /* box-sizing needed now that we have a non-zero border */
  border: solid calc(.5 * var(--r)) transparent;
  width: var(--d);
  height: var(--d);
  border-radius: 50%;
  /* make circular */
  background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(255, 255, 255, 0.2)) content-box, linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.3)) border-box, currentcolor;
  pointer-events: auto;
}

input[type=range]::-moz-range-thumb {
  box-sizing: border-box;
  /* different between Chrome & Firefox */
  /* box-sizing needed now that we have a non-zero border */
  border: solid calc(.5 * var(--r)) transparent;
  width: var(--d);
  height: var(--d);
  border-radius: 50%;
  /* make circular */
  background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(255, 255, 255, 0.2)) content-box, linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.3)) border-box, currentcolor;
  pointer-events: auto;
}

input[type=range]:focus {
  outline: solid 0 transparent;
}

input[type=range]:focus, input[type=range]:focus + output {
  z-index: 2;
  color: darkorange;
}

input[type=range]:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

output {
  grid-column: 1;
  grid-row: 3;
  margin-left: var(--r);
  border-radius: 5px;
  padding: 0 0.375em;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  transform: translate(calc((var(--c) - var(--min)) / var(--dif) * var(--uw) - 50%));
  background: currentcolor;
  color: transparent;
  font-weight: 900;
}

output::after {
  color: #fff;
  counter-reset: c var(--c);
  content: counter(c);
}
