.wrap::before {
  width: calc((var(--a) - var(--min)) / var(--dif) * 100%);
  /* As 'a' increases, the margin & width increase */
  margin-left: 0;
}

.wrap::after {
  width: calc((var(--max) - var(--b)) / var(--dif) * 100%);
  /* As 'b' increases, the margin & width decrease */
  margin-left: calc(var(--b) / var(--dif) * 100%);
}
