/* fix too small font-size in both Chrome & Firefox */
* {
  font: inherit;
}

.wrap {
  --dif: calc(var(--max) - var(--min));
  display: grid;
  grid-template: repeat(2, -webkit-max-content) 4em/1fr 1fr;
  grid-template: repeat(2, max-content) 4em/1fr 1fr;
  overflow: hidden;
  position: relative;
  margin: 1em auto;
  width: 20em;
  background: linear-gradient(0deg, #ccc 4em, transparent 0);
  font-family: ubuntu mono, consolas, monaco, monospace;
}

.wrap::before, .wrap::after {
  grid-column: 1/span 2;
  grid-row: 3;
  background: #95a;
  content: "";
}

.wrap::before {
  margin-left: calc(1em + (var(--a) - var(--min)) / var(--dif) * 18em);
  width: calc((var(--b) - var(--a)) / var(--dif) * 18em);
}

.wrap::after {
  margin-left: calc(1em + (var(--b) - var(--min)) / var(--dif) * 18em);
  width: calc((var(--a) - var(--b)) / var(--dif) * 18em);
}

[id=multi-lbl] {
  grid-column: 1/span 2;
}

.sr-only {
  position: absolute;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
}

input[type=range] {
  grid-column: 1/span 2;
  grid-row: 3;
  z-index: 1;
  top: 0;
  left: 0;
  margin: 0;
  background: none;
  /* get rid of white Chrome background */
  --col: #000;
  pointer-events: none;
}

input[type=range]::-webkit-slider-runnable-track, input[type=range]::-webkit-slider-thumb, input[type=range] {
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 100%;
  background: none;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 100%;
  background: none;
}

input[type=range]::-webkit-slider-thumb {
  border: none;
  /* get rid of Firefox thumb border */
  width: 2em;
  height: 4em;
  border-radius: 0;
  /* get rid of Firefox corner rounding */
  background: linear-gradient(90deg, #fff 2px, transparent 0) calc(1em - 1px), radial-gradient(circle, var(--col) calc(1em - 1px), transparent 1em);
  pointer-events: auto;
}

input[type=range]::-moz-range-thumb {
  border: none;
  /* get rid of Firefox thumb border */
  width: 2em;
  height: 4em;
  border-radius: 0;
  /* get rid of Firefox corner rounding */
  background: linear-gradient(90deg, #fff 2px, transparent 0) calc(1em - 1px), radial-gradient(circle, var(--col) calc(1em - 1px), transparent 1em);
  pointer-events: auto;
}

input[type=range]:focus {
  z-index: 2;
  outline: dotted 1px currentcolor;
}

input[type=range]:focus, input[type=range]:focus + output {
  --col: darkorange;
}

output {
  grid-row: 2;
  color: var(--col);
}

output:last-child {
  text-align: right;
}

output::after {
  counter-reset: c var(--c);
  content: "--" attr(for) ": " counter(c) ";";
}
